@import "../../../styles/mixins";
@import "../../../styles/constants";

.cart-wrapper {
  margin: 0 5px;
  height: 100vh;
}

.cart-headline {
  font-size: 18px;
  text-align: center;
}

.cart-footer {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.cart-list {
  @include list-reset;

  height: calc(100vh - 100px);
  overflow-y: auto;

  &-item {
    padding: 5px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    p {
      word-break: break-word;
    }

    button {
      @include reset-button
    }

    &:nth-child(2n) {
      background: lightgray;
    }
  }
}

