@mixin reset-button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    justify-self: end;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline-color: lightgray;
        text-decoration: none;
    }
}

@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}





