@import "../../../styles/mixins";
@import "../../../styles/constants";

.book-overview-headline {
  margin-top: 10px;
}

.book-overview-list {
  display: flex;
  list-style: none;
  margin: 0 0 100px 0;
  padding: 0;
  width: 100%;
  flex-flow: row wrap;

  &-item {
    flex-basis: calc(33.33% - 20px);
    min-width: 100px;
    padding: 2px 5px;
    margin: 5px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.15);
    position: relative;

    @media screen and (min-width: $breakpointM) {
      flex-basis: calc(25% - 20px);
    }

    @media screen and (max-width: $breakpointS) {
      flex-basis: calc(50% - 20px);
    }

    @media screen and (max-width: $breakpointXS) {
      flex-basis: calc(100% - 20px);
    }

    & > a {
      display: block;
    }

    img {
      width: 100%;
      border-radius: 4px;
    }

    p {
      font-size: 11px;
    }

    .cart-button {
      @include reset-button;
      position: absolute;
      right: 14px;
      bottom: 14px;
      border-radius: 50%;
      padding: 3px;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: rgba(black, 0.8);
        & svg {
          fill: white;
          margin-bottom: -2px;
        }
      }
    }
  }
}

