@import "styles/mixins";
@import "styles/constants";

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  flex-flow: row nowrap;
  transform: translate3d(0, 0, 0);
  transition: width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;


  &.drawer-closed {
    width: 100%;
  }

  &.drawer-opened {
    width: calc(100% - #{$drawerWidth});
  }
}

.main-col-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  transition: width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  margin-top: $navigationHeight;
}

.content-wrapper {
  padding: 0 10px;
  transition: width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.drawer-wrapper {
  height: 100vh;
  transition: width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms, padding 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.35);
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 120;
  background: white;

  &.drawer-closed {
    width: 0;
    padding: 0;
    & .cart-list {
      opacity: 0;
    }
  }

  &.drawer-opened {
    width: $drawerWidth - 20;
    padding: 0 10px;
  }
}
